.pages-button {
    cursor: pointer;
}

.pages-button:hover {
    color: #98c34b;
    transition: 300ms;
}

.home-button:hover {
    color: gray;
    transition: 300ms;
}

.draw-button:hover {
    opacity: 0.7;
    transition: 300ms ease-in-out;
}

.bhdLno {
    max-width: 730px !important;
    width: 730px !important;
    max-height: 730px !important;
    height: 730px !important;
    transform: translate(-50px, 30px) !important;
}